<header role="banner">
    <div class="row">
        <div class="col-4">
            <a href="/profile">
                <h1>CineFlix</h1>
            </a>
        </div>
        <div class="col-6">
            <ul class="page-links">
                <li class="li-page-link">
                    <a href="/media/watchlist">Watchlist</a>
                </li>
                <li class="li-page-link">
                    <a href="/media/watched">Watched</a>
                </li>
                <li class="li-page-link">
                    <a href="/media/search">Search</a>
                </li>
                <li class="li-page-link">
                    <a href="/users/logout" id="log-out">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</header>

{{#if success}}
<div class="row">
    <div class="col-12 success">{{success}}</div>
</div>
{{/if}} {{#if error_msg}}
<div class="row">
    <div class="col-12 errors">{{error_msg}}</div>
</div>
{{/if}} {{#if error}}
<div class="row">
    <div class="col-12 errors">{{error}}</div>
</div>
{{/if}}

<div class="row">
    <h1 class="center-block">My Watchlist</h1>
    {{#each media}}
    <div class="result-container" id={{id}}>
        <div class="col-4 center-block">
            <p class="hide">{{title}}</p>
            <img src={{poster}} class="result-poster">
            <div class="col-12">
                <button type="button" id="watchedItem">Watched</button>
                <button type="button" id="deleteItem">Delete</button>
            </div>
        </div>
    </div>
    {{else}}
    <h2 class="center-block">No movies or shows have been added to watchlist</h2>
    {{/each}}
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="../index.js" type="text/javascript"></script>