<header role="banner">
    <div class="row">
        <div class="col-6">
            <h1 class="page-title">CineFlix</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ul class="page-links">
                <li class="li-page-link home">
                    <a href="/profile">Home</a>
                </li>
                <li class="li-page-link">
                    <a href="/media/watchlist ">Watchlist</a>
                </li>
                <li class="li-page-link">
                    <a href="/media/watched ">Watched</a>
                </li>
                <li class="li-page-link">
                    <a href="/media/search ">Search</a>
                </li>
                <li class="li-page-link">
                    <a href="/users/logout " id="log-out ">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</header>
{{#if success}}
<div class="row">
    <div class="col-12 success">{{success}}</div>
</div>
{{/if}} {{#if error_msg}}
<div class="row">
    <div class="col-12 errors">{{error_msg}}</div>
</div>
{{/if}} {{#if error}}
<div class="row">
    <div class="col-12 errors">{{error}}</div>
</div>
{{/if}}

<div class="row watched-div">
    <h1 class="center-block">Watched</h1>
    <div class="row col-12"></div>
    <div class="col-3 center-block header-fonts">Date Watched</div>
    <div class="col-3 center-block header-fonts">Cover</div>
    <div class="col-3 center-block header-fonts">Name</div>
    <div class="col-3 center-block header-fonts">Release Date</div>
</div>
<div class="row">
    {{#each media}}
    <div class="result-container col-12" id={{id}}>
        <div class="card card-1">
            <div class="col-3 watched-date">{{formatDate updatedAt}}</div>
            <div class="col-3 center-block">
                <img src={{poster}} class="result-poster">
                <div class="col-12 delete-btn-container">
                    <button type="button" id="deleteItemFromWatched">Delete</button>
                </div>
            </div>
            <div class="col-3 watched-title">{{title}}</div>
            <div class="col-3 watched-release-date">{{release_date}}</div>
        </div>
    </div>
    {{else}}
    <h2 class="center-block">No movies or shows have been watched</h2>
    {{/each}}
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="../api.js" type="text/javascript"></script>
<script src="../index.js" type="text/javascript"></script>